@charset "UTF-8";

.content{
	display: flex;
	flex-direction: row;
}

.counters{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	height: auto;
}

.counters output{
	border: 1px solid #949494;
	border-radius: 20px;
	font-family: 'Helvetica', sans-serif;
	font-size: 140px;
	margin-top: 28px;
	margin-bottom: 32px;
	text-align: center;
}

.counters span{
	margin-top: 32px;
	font-size: 2em;
	font-family: 'Helvetica', sans-serif; 
	text-align: center;
	line-height: 1;
}

.information{
	width: 70%;
}

#main-content {
	background: white;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	padding:40px;
}

#main-content header{
	text-align: center;
}

#main-content .text-p {
	text-align: justify;
}

.button-class {
	border: 1px solid #949494; 
	padding: 10px; 
	background-color: #949494; 
	color: #000000; 
	text-decoration: none; 
	text-transform: uppercase; 
	font-family: 'Helvetica', sans-serif; 
	border-radius: 50px; 
	margin: 20px auto;
	width: 100%;
}

#suggestions{
	border: 1px solid #949494; 
	padding: 10px; 
	background-color: #949494; 
	color: #000000; 
	text-decoration: none; 
	text-transform: uppercase; 
	font-family: 'Helvetica', sans-serif; 
	border-radius: 50px; 
	margin: 20px auto;
	width: 100%;
}

#login{
	border: 1px solid #949494; 
	padding: 10px; 
	background-color: #949494; 
	color: #000000; 
	text-decoration: none; 
	text-transform: uppercase; 
	font-family: 'Helvetica', sans-serif; 
	border-radius: 50px; 
	margin: 20px auto;
	width: 100%;
}


/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {

}*/

/* Large devices (laptops/desktops, 1200px and down) 
@media only screen and (max-width: 1199px) {

Ordenar de mayor a menor para el caso de max-width y de menor a mayor para min-width

}*/

/* Desaparece ESIMEZ */
@media only screen and (max-width: 850px ) {

	.counters output{
		font-size: 100px;
	}
}

/* Salto de línea de IPN */
@media only screen and (max-width: 598px){
	.counters output{
		font-size: 80px;
	}
}

/* Desaparecen los escudos*/
@media only screen and (max-width: 480px){
	.content{
		flex-direction: column;
	}

	.counters{
		width: 100%;
		justify-content: space-around;
		flex-direction: row;
	}

	.counters span{
		margin-top: 10px;
		width: 100%;
		font-size: 1.5em;
	}

	.counters output{
		margin-top: 10px;
		font-size: 60px;
		margin-bottom: 5px;
	}

	.information{
		width: 100%;
	}
}

/*Salto de línea de IPN sin escudos*/
@media only screen and (max-width: 398px){

	.counters span{
		font-size: 1em !important;
	}
}