.div-nav{
	height: 110px;
	width: 100%;
}

.nav-class{
	height: auto;
}

.title-nav-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.title-nav-content span{
	text-align: center;
	/*height: 30%;
	line-height: 1;*/
	width: 90%;
}

.title-IPN{
	font-size: 2em;
	height: 32px;
}

.title-ESIME{
	font-size: 1.5em;
	height: 24px;
}

.title-UDI{
	font-size: 1em;
	height: 16px;
}

.logo{
	width: auto; 
	height: 106px;
	margin: 2px;
}

/* Desaparece ESIMEZ */
@media only screen and (max-width: 832px ) {
	.title-IPN{
		height: 44px;
	}

	.title-ESIME{
		display: none;
	}

	.title-UDI{
		font-size: 1.5em;
		height: 28px;
	}
}

/* Salto de línea de IPN */
@media only screen and (max-width: 598px){
	.title-nav-content span{
		line-height: 1;
		margin-top: 10px;
		text-align: center;
		height: auto;
		width: 90%;
	}
}

/* Desaparecen los escudos*/
@media only screen and (max-width: 480px){
	.div-nav{
		height: 74px;
		width: 100%;
	}

	.title-UDI{
		margin-bottom: 5px;
	}

	.logo{
		display: none;
	}
}

/*Salto de línea de IPN sin escudos*/
@media only screen and (max-width: 398px){
	.div-nav{
		height: 102px !important;
	}
}