@charset "UTF-8";
body{
margin:0px;
}

table{
	border: 1px solid #000;
	width: 100%;
	text-align: center;
	vertical-align: center;
	border-collapse: collapse;
	margin-top: 10%;
}

td{
	height: 30px;
	border: 1px solid #000;
	background: #D9D9D9;
}

#home{
	margin-right:auto;
	margin-left:auto;
	width:100%;
	font-family: 'Helvetica', sans-serif; 
	text-align:center;
	border-radius: 60px; 
	background-color: #949494; 
	border-color: #949494;
}

#ok{
	margin-right:20%;
	margin-left:35%;
	width:30%;
	font-family: 'Helvetica', sans-serif; 
	text-align:center;
	border-radius: 60px; 
	background-color: #949494; 
	border-color: #949494;
}

select{
	border-radius: 50px; 
	background-color: #949494; 
	border-color: #949494;
	width: 100%;
	font-family: 'Helvetica', sans-serif; 
	text-align:center;
}

h3{
	font-family: 'Helvetica', sans-serif; 
}

#contenedor{
	display: flex;
}

#contenedor-form{
	width: 30%;
	background: #029a4d;	
}
 

#tabla{
	width: 70%;
}

th{
border-collapse: collapse;
	border: 1px solid #000;
	background: #949494;
